AUTH_URL=http://keycloak.osdu.local
TOKEN_FETCH_URL=f'{AUTH_URL}/realms/osdu/protocol/openid-connect/token'
OSDU_BASE=http://osdu.osdu.local
CLIENT_ID=demo
CLIENT_SECRET=tORhdelFWKUncsT0bNbznCwwy0UQVjod
USERNAME=demo@osdu.local
PASSWORD=123456
PARTITION_ID=osdu
OAUTH_BASE_URL=http://keycloak.osdu.local/realms/osdu/protocol/openid-connect/auth
AUTH_METHOD=OIDC_LOGIN
